.album-images {
  text-align: center;

  .image-item {
    display: inline-block;
    margin: 10px;

    img {
      display: block;
      width: 200px;
      height: 200px;
    }
  }
}

#paginator {
  .pagination {
    text-align: center;

    li {
      display: inline-block;

      a {
        height: 22px;
        display: table-row;
      }

      a.pager {
        color: #FF4081;
        text-decoration: none;

        &:hover, &visited, &:visited {
          text-decoration: none;
        }
      }

      &.active {
        a.pager {
          color: #313131;
          font-weight: bold;
        }
      }
    }
  }
}