.albums-collection {
  text-align: center;

  div {
    display: inline-block;
    margin: 10px;

    .mdl-card__title {
      color: white;
    }

    .mdl-card__actions {
      @include opacity(0.9);
      background: azure;
      margin: 0;
    }

    .mdl-card__supporting-text {
      background: rgba(0,0,0,.5);
      color: azure;
      margin: 0;
    }
  }
}
