<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset=utf-8"/>
    <title>Image gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">

    <link href="{{ asset('bundles/gallery/css/main.css') }}" rel="stylesheet"/>
    <link rel="icon" href="{{ asset('favicon.ico') }}"/>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<section id="wrapper">
    <section id="main-container"></section>
</section>


<script data-main="{{ asset('bundles/gallery/js/main.js') }}"
        src="{{ asset('bundles/gallery/js/vendor/require.js') }}"></script>

<script>
    define('config', function () {
        return { baseUrl: '{{ app.request.getBaseURL() }}'}
    });
</script>

<script id="album-item" type="text/html">
    <div class="mdl-card mdl-shadow--2dp"
         style="background: url({{ asset('bundles/gallery/images/') }}<%- _.first(images).filename %> ) center / cover;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"><%- title %></h2>
        </div>
        <div class="mdl-card__supporting-text">
            <%- description %>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="javascript:;" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Browse
            </a>
        </div>
    </div>
</script>

<script id="album-images" type="text/html">
    <div class="row album-images">
        <% _.each(images, function(item) { %>
            <div class="image-item">
                <img src="{{ asset('bundles/gallery/images/') }}<%- item.filename %>" alt="<%- item.alt %>">
            </div>
        <% }) %>
    </div>
</script>

<script id="album-layout" type="text/html">
    <section>
        <div id="images"></div>
        <footer id="paginator"></footer>
    </section>
</script>

<script id="album-paginator" type="text/html">
    <div class="divider"></div>
    <div class="row">
        <ul class="pagination">
            <li class="<% if (currentPageNum === 1) { %>disabled<% } %>">
                <a href="javascript:;" data-page="<%- currentPageNum - 1 %>">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            <% _.each(_.range(1, pageCount + 1), function(item) { %>
                <li class="<% if (item === currentPageNum) { %>active<% }%>">
                    <a href="javascript:;" data-page="<%- item %>" class="pager"><%- item %></a>
                </li>
            <% }) %>
            <li class="<% if (currentPageNum === pageCount) { %>disabled<% } %>">
                <a href="javascript:;" data-page="<%- pageCount %>">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>
    </div>
</script>
</body>
</html>
