html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  margin:0;
  padding:0
}

article,aside,details,figcaption,figure,footer,header,menu,nav,section { display:block }

body { line-height:1 }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  h1 {
    text-align: center;
    margin: 40px 0 40px;
  }
}

ol,ul { list-style:none }

a {
  &:hover {
    @include transition(all 0.3s ease-in-out);
  }
}

#main-container {
  padding-top: 100px;
}

.disabled {
  display: none !important;
}
