@mixin transition($func) {
  -moz-transition: #{$func};
  -ms-transition: #{$func};
  -webkit-transition: #{$func};
  transition: #{$func};
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin clear-list-inline() {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline;
  }
}

@mixin clear-fix() {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}
