// Colors taken from http://flatuicolors.com/
$color-emerald: #2ecc71;
$color-white: #FFFFFF;
$color-peter-river: #3498db;
$color-midnight-blue: #2c3e50;
$color-clouds: #ecf0f1;
$color-nephritis: #27ae60;
$color-orange: #f39c12;
$color-pomegranate: #c0392b;
$color-belize-hole: #2980b9;
$color-alizarin: #e74c3c;
$color-silver: #bdc3c7;
$color-concrete: #95a5a6;
